@use './utils/variables';

.button {
  outline: none;
  border-radius: 5px;
  background-color: $blue-accent;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 14px;
  border: 1px solid $blue-accent;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #fff;
    color: $blue-accent;
  }
}
